<style>
    footer {
        margin-top: 20px;
        color: #4e4c4c;
        font-family: Arial, sans-serif;
        width: 80%;
    }

    .footer-container {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        background-color: #E0E0E0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer-links {
        flex: 2;
    }

    .footer-tool-categories {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-category {
        flex: 1;
        min-width: 200px;
        margin: 10px;
    }

    .footer-links h3,
    .footer-contact h3,
    .footer-about h3 {
        margin-bottom: 10px;
    }

    .footer-category h4 {
        margin: 10px 0 5px 0;
    }

    .footer-links ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-links ul li {
        margin: 5px 0;
    }

    .footer-links a,
    .footer-contact a,
    .footer-about a {
        color: #5d605e;
        text-decoration: none;
    }

    .footer-links a:hover,
    .footer-contact a:hover,
    .footer-about a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        font-size: 0.9em;
    }

    .footer-bottom a {
        color: #61dafb;
    }

    @media screen and (max-width: 768px) {
        footer {
            width: 100%;
        }

        .footer-container {
            padding: 5px;
        }
    }
</style>
<footer>
    <div class="footer-container">
        <div class="footer-links">
            <div class="footer-tool-categories">
                <div class="footer-category">
                    <h4>Text Transformation</h4>
                    <ul>
                        <li><a href="/yaytext-social">All</a></li>
                        <li><a href="/yaytext-social/ancient-cuneiform">Ancient Cuneiform</a></li>
                        <li><a href="/yaytext-social/bamum">Bamum</a></li>
                        <li><a href="/yaytext-social/bold-italic">Bold Italic</a></li>
                        <li><a href="/yaytext-social/bubble-text">Bubble Text</a></li>
                        <li><a href="/yaytext-social/canadian-aboriainal">Canadian Aboriainal</a></li>
                        <li><a href="/yaytext-social/cursive-script">Cursive Script</a></li>
                        <li><a href="/yaytext-social/double-struck">Double Struck</a></li>
                        <li><a href="/yaytext-social/east-asian-letter-like">East Asian Letter Like</a></li>
                        <li><a href="/yaytext-social/faces">Faces</a></li>
                        <li><a href="/yaytext-social/fraktur-gothic-old-english">Fraktur Gothic Old English</a></li>
                        <li><a href="/yaytext-social/full-width-vaporwave">Full Width Vaporwave</a></li>
                        <li><a href="/yaytext-social/lightning">Lightning</a></li>
                        <li><a href="/yaytext-social/mini-me-stacked-text">Mini Me Stacked Text</a></li>
                        <li><a href="/yaytext-social/mono-space">Mono Space</a></li>
                        <li><a href="/yaytext-social/ransom-note-text">Ransom Note Text</a></li>
                        <li><a href="/yaytext-social/slash-through">Slash Through</a></li>
                        <li><a href="/yaytext-social/small-caps">Small Caps</a></li>
                        <li><a href="/yaytext-social/square-text">Square Text</a></li>
                        <li><a href="/yaytext-social/squiggles-and-hooks">Squiggles And Hooks</a></li>
                        <li><a href="/yaytext-social/strike-through">Strike Through</a></li>
                        <li><a href="/yaytext-social/tiny-text">Tiny Text</a></li>
                        <li><a href="/yaytext-social/underline">Underline</a></li>
                        <li><a href="/yaytext-social/upside-down">Upside Down</a></li>
                        <li><a href="/yaytext-social/vai-letter-like">Vai Letter Like</a></li>
                    </ul>
                </div>
                <div class="footer-category">
                    <h4>Code & Data</h4>
                    <ul>
                        <li><a href="/data/beautify">Normalize paragraph</a></li>
                        <li><a href="/data/base64-encode-decode">Base64 Encode / Decode</a></li>
                        <li><a href="/data/csv-to-json">CSV To JSON</a></li>
                        <li><a href="/data/hex-to-text">HEX To Text</a></li>
                        <li><a href="/data/text-to-binary">BINARY To Text</a></li>
                        <li><a href="/data/text-to-morse-code">MORSE Encode / Decode</a></li>
                        <li><a href="/data/text-to-rot13">ROT13 Encode / Decode</a></li>
                        <li><a href="/data/url-encode-decode">URL Encode / Decode</a></li>
                        <li><a href="/data/url-slugify">URL Slugify</a></li>
                    </ul>
                </div>
                <div class="footer-category">
                    <h4>Image Conversion</h4>
                    <ul>
                        <li><a href="/image/img-to-ascii">Image To ASCII</a></li>
                        <li><a href="/image/img-to-text">Image To Text</a></li>
                        <li><a href="/image/jpg-to-png">JPG To PNG Converter</a></li>
                        <li><a href="/image/png-to-jpg">PNG To JPG Converter</a></li>
                        <li><a href="/image/jpg-to-webp">JPG To WEBP Converter</a></li>
                        <li><a href="/image/webp-to-jpg">WEBP To JPG Converter</a></li>
                        <li><a href="/image/png-to-webp">PNG To WEBP Converter</a></li>
                        <li><a href="/image/webp-to-png">WEBP To PNG Converter</a></li>
                        <li><a href="/image/svg-to-png">SVG To PNG Converter</a></li>
                    </ul>
                </div>
                <div class="footer-category">
                    <h4>Text Generator</h4>
                    <ul>
                        <li><a href="/text-generator/strong-password-generator">Secure Password Generator</a></li>
                        <li><a href="/text-generator/random-choice-wheel">Random Spinning Wheel</a></li>
                    </ul>
                </div>
                <div class="footer-category">
                    <h4>Crypto Currency</h4>
                    <ul>
                        <li><a href="/crypto-currency/generate-eth-address">EVM Wallet Address Generator</a></li>
                        <li><a href="/crypto-currency/generate-sol-address">SOL Wallet Generator</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-about">
            <h3>About Us</h3>
            <p>
                Welcome to https://uppercaseconverter.net, your go-to platform for free online tools designed to simplify your
                digital tasks. Our mission is to empower users with powerful yet user-friendly tools for text
                conversion, image format transformation, base64 encoding/decoding, and password generation. Whether you
                need to transform text, convert images from JPG to PNG or WebP, or generate strong passwords, we’ve got
                you covered.
            </p>
            <p>Our team is dedicated to providing reliable, fast, and secure tools that enhance productivity and make
                your online experience seamless. We believe that everyone should have access to effective solutions
                without the hassle of complicated processes. That’s why we focus on delivering straightforward and
                intuitive tools that anyone can use.</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 https://uppercaseconverter.net | All rights reserved. | <a href="/privacy-policy">Privacy
            Policy</a> | <a href="/term-and-condition">Terms of Service</a></p>
    </div>
</footer>
