<script>
    function convertCursiveScriptTexts(inputTextId, resultIds) {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const boldSerifSt = '𝒶|𝒷|𝒸|𝒹|ℯ|𝒻|ℊ|𝒽|𝒾|𝒿|𝓀|𝓁|𝓂|𝓃|ℴ|𝓅|𝓆|𝓇|𝓈|𝓉|𝓊|𝓋|𝓌|𝓍|𝓎|𝓏|𝒜|ℬ|𝒞|𝒟|ℰ|ℱ|𝒢|ℋ|ℐ|𝒥|𝒦|ℒ|ℳ|𝒩|𝒪|𝒫|𝒬|ℛ|𝒮|𝒯|𝒰|𝒱|𝒲|𝒳|𝒴|𝒵|𝒶̀|𝒶́|𝒶̣|𝒶̉|𝒶̃|𝒶̂|𝒶̂̀|𝒶̂́|𝒶̂̉|𝒶̣̂|𝒶̆|𝒶̆̀|𝒶̆́|𝒶̆̉|𝒶̣̆|ℯ̀|ℯ́|ℯ̣|ℯ̉|ℯ̃|ℯ̂|ℯ̂̀|ℯ̂́|ℯ̂̉|ℯ̣̂|𝒾̀|𝒾́|𝒾̣|𝒾̉|𝒾̃|ℴ̀|ℴ́|ℴ̣|ℴ̉|ℴ̃|ℴ̂|ℴ̂̀|ℴ̂́|ℴ̂̉|ℴ̣̂|ℴ̛|ℴ̛̀|ℴ̛́|ℴ̛̉|ℴ̛̣|𝓊̀|𝓊́|𝓊̣|𝓊̉|𝓊̃|𝓊̛|𝓊̛̀|𝓊̛́|𝓊̛̉|𝓊̛̣|𝓎̀|𝓎́|𝓎̣|𝓎̉|𝓎̃|đ|𝒜̀|𝒜́|𝒜̣|𝒜̉|𝒜̃|𝒜̂|𝒜̂̀|𝒜̂́|𝒜̂̉|𝒜̣̂|𝒜̆|𝒜̆̀|𝒜̆́|𝒜̆̉|𝒜̣̆|ℰ̀|ℰ́|ℰ̣|ℰ̉|ℰ̃|ℰ̂|ℰ̂̀|ℰ̂́|ℰ̂̉|ℰ̣̂|ℐ̀|ℐ́|ℐ̣|ℐ̉|ℐ̃|𝒪̀|𝒪́|𝒪̣|𝒪̉|𝒪̃|𝒪̂|𝒪̂̀|𝒪̂́|𝒪̂̉|𝒪̣̂|𝒪̛|𝒪̛̀|𝒪̛́|𝒪̛̉|𝒪̛̣|𝒰̀|𝒰́|𝒰̣|𝒰̉|𝒰̃|𝒰̛|𝒰̛̀|𝒰̛́|𝒰̛̉|𝒰̛̣|𝒴̀|𝒴́|𝒴̣|𝒴̉|𝒴̃|Đ';
        const boldSans = '𝓪|𝒷|𝓬|𝒹|𝓮|𝒻|𝓰|𝒽|𝓲|𝒿|𝓴|𝓁|𝓶|𝓃|𝓸|𝓅|𝓺|𝓇|𝓼|𝓉|𝓾|𝓋|𝔀|𝓍|𝔂|𝓏|𝓐|ℬ|𝓒|𝒟|𝓔|ℱ|𝓖|ℋ|𝓘|𝒥|𝓚|ℒ|𝓜|𝒩|𝓞|𝒫|𝓠|ℛ|𝓢|𝒯|𝓤|𝒱|𝓦|𝒳|𝓨|𝒵|𝓪̀|𝒶́|𝓪̣|𝒶̉|𝓪̃|𝒶̂|𝓪̂̀|𝒶̂́|𝓪̂̉|𝒶̣̂|𝓪̆|𝒶̆̀|𝓪̆́|𝒶̆̉|𝓪̣̆|ℯ̀|𝓮́|ℯ̣|𝓮̉|ℯ̃|𝓮̂|ℯ̂̀|𝓮̂́|ℯ̂̉|𝓮̣̂|𝒾̀|𝓲́|𝒾̣|𝓲̉|𝒾̃|𝓸̀|ℴ́|𝓸̣|ℴ̉|𝓸̃|ℴ̂|𝓸̂̀|ℴ̂́|𝓸̂̉|ℴ̣̂|𝓸̛|ℴ̛̀|𝓸̛́|ℴ̛̉|𝓸̛̣|𝓊̀|𝓾́|𝓊̣|𝓾̉|𝓊̃|𝓾̛|𝓊̛̀|𝓾̛́|𝓊̛̉|𝓾̛̣|𝓎̀|𝔂́|𝓎̣|𝔂̉|𝓎̃|đ|𝒜̀|𝓐́|𝒜̣|𝓐̉|𝒜̃|𝓐̂|𝒜̂̀|𝓐̂́|𝒜̂̉|𝓐̣̂|𝒜̆|𝓐̆̀|𝒜̆́|𝓐̆̉|𝒜̣̆|𝓔̀|ℰ́|𝓔̣|ℰ̉|𝓔̃|ℰ̂|𝓔̂̀|ℰ̂́|𝓔̂̉|ℰ̣̂|𝓘̀|ℐ́|𝓘̣|ℐ̉|𝓘̃|𝒪̀|𝓞́|𝒪̣|𝓞̉|𝒪̃|𝓞̂|𝒪̂̀|𝓞̂́|𝒪̂̉|𝓞̣̂|𝒪̛|𝓞̛̀|𝒪̛́|𝓞̛̉|𝒪̛̣|𝓤̀|𝒰́|𝓤̣|𝒰̉|𝓤̃|𝒰̛|𝓤̛̀|𝒰̛́|𝓤̛̉|𝒰̛̣|𝓨̀|𝒴́|𝓨̣|𝒴̉|𝓨̃|Đ';
        const italicChars = '𝓪|𝓫|𝓬|𝓭|𝓮|𝓯|𝓰|𝓱|𝓲|𝓳|𝓴|𝓵|𝓶|𝓷|𝓸|𝓹|𝓺|𝓻|𝓼|𝓽|𝓾|𝓿|𝔀|𝔁|𝔂|𝔃|𝓐|𝓑|𝓒|𝓓|𝓔|𝓕|𝓖|𝓗|𝓘|𝓙|𝓚|𝓛|𝓜|𝓝|𝓞|𝓟|𝓠|𝓡|𝓢|𝓣|𝓤|𝓥|𝓦|𝓧|𝓨|𝓩|𝓪̀|𝓪́|𝓪̣|𝓪̉|𝓪̃|𝓪̂|𝓪̂̀|𝓪̂́|𝓪̂̉|𝓪̣̂|𝓪̆|𝓪̆̀|𝓪̆́|𝓪̆̉|𝓪̣̆|𝓮̀|𝓮́|𝓮̣|𝓮̉|𝓮̃|𝓮̂|𝓮̂̀|𝓮̂́|𝓮̂̉|𝓮̣̂|𝓲̀|𝓲́|𝓲̣|𝓲̉|𝓲̃|𝓸̀|𝓸́|𝓸̣|𝓸̉|𝓸̃|𝓸̂|𝓸̂̀|𝓸̂́|𝓸̂̉|𝓸̣̂|𝓸̛|𝓸̛̀|𝓸̛́|𝓸̛̉|𝓸̛̣|𝓾̀|𝓾́|𝓾̣|𝓾̉|𝓾̃|𝓾̛|𝓾̛̀|𝓾̛́|𝓾̛̉|𝓾̛̣|𝔂̀|𝔂́|𝔂̣|𝔂̉|𝔂̃|đ|𝓐̀|𝓐́|𝓐̣|𝓐̉|𝓐̃|𝓐̂|𝓐̂̀|𝓐̂́|𝓐̂̉|𝓐̣̂|𝓐̆|𝓐̆̀|𝓐̆́|𝓐̆̉|𝓐̣̆|𝓔̀|𝓔́|𝓔̣|𝓔̉|𝓔̃|𝓔̂|𝓔̂̀|𝓔̂́|𝓔̂̉|𝓔̣̂|𝓘̀|𝓘́|𝓘̣|𝓘̉|𝓘̃|𝓞̀|𝓞́|𝓞̣|𝓞̉|𝓞̃|𝓞̂|𝓞̂̀|𝓞̂́|𝓞̂̉|𝓞̣̂|𝓞̛|𝓞̛̀|𝓞̛́|𝓞̛̉|𝓞̛̣|𝓤̀|𝓤́|𝓤̣|𝓤̉|𝓤̃|𝓤̛|𝓤̛̀|𝓤̛́|𝓤̛̉|𝓤̛̣|𝓨̀|𝓨́|𝓨̣|𝓨̉|𝓨̃|Đ';
        const standards = [boldSerifSt, boldSans, italicChars]
        for (let i = 0; i < resultIds.length; i++) {
            const inputText = document.getElementById(inputTextId).value;
            document.getElementById(resultIds[i]).textContent = convertStandardText(inputText, standards[i]);
        }
        // const inputText = document.getElementById('inputText').value;
        // console.log(convertText(inputText, boldSerifSt))
        // document.getElementById('result-01').textContent = convertText(inputText, boldSerifSt);
        // document.getElementById('result-02').textContent = convertText(inputText, boldSans);
        // document.getElementById('result-03').textContent = convertText(inputText, italicChars);
    }
</script>