<script>
    function convertStandardText(inputText, standard) {
        const original = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZàáạảãâầấẩậăằắẳặèéẹẻẽêềếểệìíịỉĩòóọỏõôồốổộơờớởợùúụủũưừứửựỳýỵỷỹđÀÁẠẢÃÂẦẤẨẬĂẰẮẲẶÈÉẸẺẼÊỀẾỂỆÌÍỊỈĨÒÓỌỎÕÔỒỐỔỘƠỜỚỞỢÙÚỤỦŨƯỪỨỬỰỲÝỴỶỸĐ'.split('');
        const standardParts = standard.split('|');
        return inputText.split('').map(char => {
            const idx = original.indexOf(char.toString());
            console.log(idx)
            if (idx === -1) return char;
            return standardParts[idx];
        }).join('')
    }
</script>