<script>
    function convertCanadianAboriainalTexts(inputTextId, resultIds) {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const standard = 'ᗅ|ᑲ|ᐸ|ᐅ|ᗕ|ᖴ|ᘜ|ᕼ|ᓵ|ᒍ|ᖾ|ᖶ|ᗑ|ᐱ|ᗝ|ᕈ|ᑫ|ᖇ|ᔑ|ᐪ|ᑌ|ᐯ|ᗐ|᙭|ᖿ|ᔨ|ᗅ|ᑲ|ᐸ|ᐅ|ᗕ|ᖴ|ᘜ|ᕼ|ᓵ|ᒍ|ᖾ|ᖶ|ᗑ|ᐱ|ᗝ|ᕈ|ᑫ|ᖇ|ᔑ|ᐪ|ᑌ|ᐯ|ᗐ|᙭|ᖿ|ᔨ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard2 = 'ᗩ|ᗷ|ᑕ|ᗞ|ᕮ|ᒋ|ᕋ|ᖺ|ᑊ|ᒎ|ᕙ|ᘂ|ᘻ|ᘯ|ᗜ|ᑭ|ᘝ|ᖇ|ᔕ|ᘕ|ᕞ|ᕓ|ᘺ|᙮|ᒉ|ᓯ|ᗩ|ᗷ|ᑕ|ᗞ|ᕮ|ᒋ|ᕋ|ᖺ|ᑊ|ᒎ|ᕙ|ᘂ|ᘻ|ᘯ|ᗜ|ᑭ|ᘝ|ᖇ|ᔕ|ᘕ|ᕞ|ᕓ|ᘺ|᙮|ᒉ|ᓯ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard3 = 'ᕱ|ᙖ|ᕳ|ᕲ|ᗴ|ᓕ|ᙍ|ᘵ|ᒑ|ᒎ|ᔦ|ᔈ|ᕬ|ᘉ|ᘓ|ᕵ|ᘮ|ᖆ|ᔥ|ᐩ|ᐡ|ᘁ|ᕫ|ᕽ|ᕃ|ᙆ|ᕱ|ᙖ|ᕳ|ᕲ|ᗴ|ᓕ|ᙍ|ᘵ|ᒑ|ᒎ|ᔦ|ᔈ|ᕬ|ᘉ|ᘓ|ᕵ|ᘮ|ᖆ|ᔥ|ᐩ|ᐡ|ᘁ|ᕫ|ᕽ|ᕃ|ᙆ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard4 = 'ᐞ|ᒃ|ᑦ|ᒄ|ᕪ|ᕝ|ᕐ|ᑋ|ᑊ|ᒢ|ᐟ|ᒻ|ᔿ|ᐢ|ᐤ|ᓐ|ᕐ|ᔇ|ᔆ|ᐩ|ᐡ|ᘁ|ᐜ|ᕽ|ᔉ|ᙆ|ᐞ|ᒃ|ᑦ|ᒄ|ᕪ|ᕝ|ᕐ|ᑋ|ᑊ|ᒢ|ᐟ|ᒻ|ᔿ|ᐢ|ᐤ|ᓐ|ᕐ|ᔇ|ᔆ|ᐩ|ᐡ|ᘁ|ᐜ|ᕽ|ᔉ|ᙆ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard5 = 'ᐞ|ᒃ|ᑦ|ᒄ|ᕪ|ᕝ|ᕐ|ᑋ|ᑊ|ᒢ|ᐟ|ᒻ|ᔿ|ᐢ|ᐤ|ᓐ|ᕐ|ᔇ|ᔆ|ᐩ|ᐡ|ᘁ|ᐜ|ᕽ|ᔉ|ᙆ|ᐞ|ᒃ|ᑦ|ᒄ|ᕪ|ᕝ|ᕐ|ᑋ|ᑊ|ᒢ|ᐟ|ᒻ|ᔿ|ᐢ|ᐤ|ᓐ|ᕐ|ᔇ|ᔆ|ᐩ|ᐡ|ᘁ|ᐜ|ᕽ|ᔉ|ᙆ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standards = [standard, standard2, standard3, standard4, standard5]
        for (let i = 0; i < resultIds.length; i++) {
            const inputText = document.getElementById(inputTextId).value;
            document.getElementById(resultIds[i]).textContent = convertStandardText(inputText, standards[i]);
        }
        // const inputText = document.getElementById('inputText').value;
        // document.getElementById('result-01').textContent = convertText(inputText, standard);
        // document.getElementById('result-02').textContent = convertText(inputText, standard2);
        // document.getElementById('result-03').textContent = convertText(inputText, standard3);
        // document.getElementById('result-04').textContent = convertText(inputText, standard4);
        // document.getElementById('result-05').textContent = convertText(inputText, standard5);
    }

</script>