<script>
    function convertFrakturGothicOldEnglishTexts(inputTextId, resultIds) {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const standard = '𝔞|𝔟|𝔠|𝔡|𝔢|𝔣|𝔤|𝔥|𝔦|𝔧|𝔨|𝔩|𝔪|𝔫|𝔬|𝔭|𝔮|𝔯|𝔰|𝔱|𝔲|𝔳|𝔴|𝔵|𝔶|𝔷|𝔄|𝔅|ℭ|𝔇|𝔈|𝔉|𝔊|ℌ|ℑ|𝔍|𝔎|𝔏|𝔐|𝔑|𝔒|𝔓|𝔔|ℜ|𝔖|𝔗|𝔘|𝔙|𝔚|𝔛|𝔜|ℨ|𝔞̀|𝔞́|𝔞̣|𝔞̉|𝔞̃|𝔞̂|𝔞̂̀|𝔞̂́|𝔞̂̉|𝔞̣̂|𝔞̆|𝔞̆̀|𝔞̆́|𝔞̆̉|𝔞̣̆|𝔢̀|𝔢́|𝔢̣|𝔢̉|𝔢̃|𝔢̂|𝔢̂̀|𝔢̂́|𝔢̂̉|𝔢̣̂|𝔦̀|𝔦́|𝔦̣|𝔦̉|𝔦̃|𝔬̀|𝔬́|𝔬̣|𝔬̉|𝔬̃|𝔬̂|𝔬̂̀|𝔬̂́|𝔬̂̉|𝔬̣̂|𝔬̛|𝔬̛̀|𝔬̛́|𝔬̛̉|𝔬̛̣|𝔲̀|𝔲́|𝔲̣|𝔲̉|𝔲̃|𝔲̛|𝔲̛̀|𝔲̛́|𝔲̛̉|𝔲̛̣|𝔶̀|𝔶́|𝔶̣|𝔶̉|𝔶̃|đ|𝔄̀|𝔄́|𝔄̣|𝔄̉|𝔄̃|𝔄̂|𝔄̂̀|𝔄̂́|𝔄̂̉|𝔄̣̂|𝔄̆|𝔄̆̀|𝔄̆́|𝔄̆̉|𝔄̣̆|𝔈̀|𝔈́|𝔈̣|𝔈̉|𝔈̃|𝔈̂|𝔈̂̀|𝔈̂́|𝔈̂̉|𝔈̣̂|ℑ̀|ℑ́|ℑ̣|ℑ̉|ℑ̃|𝔒̀|𝔒́|𝔒̣|𝔒̉|𝔒̃|𝔒̂|𝔒̂̀|𝔒̂́|𝔒̂̉|𝔒̣̂|𝔒̛|𝔒̛̀|𝔒̛́|𝔒̛̉|𝔒̛̣|𝔘̀|𝔘́|𝔘̣|𝔘̉|𝔘̃|𝔘̛|𝔘̛̀|𝔘̛́|𝔘̛̉|𝔘̛̣|𝔜̀|𝔜́|𝔜̣|𝔜̉|𝔜̃|Đ';
        const standard2 = '𝔞|𝔟|𝔠|𝔡|𝔢|𝔣|𝔤|𝔥|𝔦|𝔧|𝔨|𝔩|𝔪|𝔫|𝔬|𝔭|𝔮|𝔯|𝔰|𝔱|𝔲|𝔳|𝔴|𝔵|𝔶|𝔷|𝔄|𝔅|ℭ|𝔇|𝔈|𝔉|𝔊|ℌ|ℑ|𝔍|𝔎|𝔏|𝔐|𝔑|𝔒|𝔓|𝔔|ℜ|𝔖|𝔗|𝔘|𝔙|𝔚|𝔛|𝔜|ℨ|𝔞̀|𝔞́|𝔞̣|𝔞̉|𝔞̃|𝔞̂|𝔞̂̀|𝔞̂́|𝔞̂̉|𝔞̣̂|𝔞̆|𝔞̆̀|𝔞̆́|𝔞̆̉|𝔞̣̆|𝔢̀|𝔢́|𝔢̣|𝔢̉|𝔢̃|𝔢̂|𝔢̂̀|𝔢̂́|𝔢̂̉|𝔢̣̂|𝔦̀|𝔦́|𝔦̣|𝔦̉|𝔦̃|𝔬̀|𝔬́|𝔬̣|𝔬̉|𝔬̃|𝔬̂|𝔬̂̀|𝔬̂́|𝔬̂̉|𝔬̣̂|𝔬̛|𝔬̛̀|𝔬̛́|𝔬̛̉|𝔬̛̣|𝔲̀|𝔲́|𝔲̣|𝔲̉|𝔲̃|𝔲̛|𝔲̛̀|𝔲̛́|𝔲̛̉|𝔲̛̣|𝔶̀|𝔶́|𝔶̣|𝔶̉|𝔶̃|đ|𝔄̀|𝔄́|𝔄̣|𝔄̉|𝔄̃|𝔄̂|𝔄̂̀|𝔄̂́|𝔄̂̉|𝔄̣̂|𝔄̆|𝔄̆̀|𝔄̆́|𝔄̆̉|𝔄̣̆|𝔈̀|𝔈́|𝔈̣|𝔈̉|𝔈̃|𝔈̂|𝔈̂̀|𝔈̂́|𝔈̂̉|𝔈̣̂|ℑ̀|ℑ́|ℑ̣|ℑ̉|ℑ̃|𝔒̀|𝔒́|𝔒̣|𝔒̉|𝔒̃|𝔒̂|𝔒̂̀|𝔒̂́|𝔒̂̉|𝔒̣̂|𝔒̛|𝔒̛̀|𝔒̛́|𝔒̛̉|𝔒̛̣|𝔘̀|𝔘́|𝔘̣|𝔘̉|𝔘̃|𝔘̛|𝔘̛̀|𝔘̛́|𝔘̛̉|𝔘̛̣|𝔜̀|𝔜́|𝔜̣|𝔜̉|𝔜̃|Đ';
        const standard3 = '𝖆|𝖇|𝖈|𝖉|𝖊|𝖋|𝖌|𝖍|𝖎|𝖏|𝖐|𝖑|𝖒|𝖓|𝖔|𝖕|𝖖|𝖗|𝖘|𝖙|𝖚|𝖛|𝖜|𝖝|𝖞|𝖟|𝕬|𝕭|𝕮|𝕯|𝕰|𝕱|𝕲|𝕳|𝕴|𝕵|𝕶|𝕷|𝕸|𝕹|𝕺|𝕻|𝕼|𝕽|𝕾|𝕿|𝖀|𝖁|𝖂|𝖃|𝖄|𝖅|𝖆̀|𝖆́|𝖆̣|𝖆̉|𝖆̃|𝖆̂|𝖆̂̀|𝖆̂́|𝖆̂̉|𝖆̣̂|𝖆̆|𝖆̆̀|𝖆̆́|𝖆̆̉|𝖆̣̆|𝖊̀|𝖊́|𝖊̣|𝖊̉|𝖊̃|𝖊̂|𝖊̂̀|𝖊̂́|𝖊̂̉|𝖊̣̂|𝖎̀|𝖎́|𝖎̣|𝖎̉|𝖎̃|𝖔̀|𝖔́|𝖔̣|𝖔̉|𝖔̃|𝖔̂|𝖔̂̀|𝖔̂́|𝖔̂̉|𝖔̣̂|𝖔̛|𝖔̛̀|𝖔̛́|𝖔̛̉|𝖔̛̣|𝖚̀|𝖚́|𝖚̣|𝖚̉|𝖚̃|𝖚̛|𝖚̛̀|𝖚̛́|𝖚̛̉|𝖚̛̣|𝖞̀|𝖞́|𝖞̣|𝖞̉|𝖞̃|đ|𝕬̀|𝕬́|𝕬̣|𝕬̉|𝕬̃|𝕬̂|𝕬̂̀|𝕬̂́|𝕬̂̉|𝕬̣̂|𝕬̆|𝕬̆̀|𝕬̆́|𝕬̆̉|𝕬̣̆|𝕰̀|𝕰́|𝕰̣|𝕰̉|𝕰̃|𝕰̂|𝕰̂̀|𝕰̂́|𝕰̂̉|𝕰̣̂|𝕴̀|𝕴́|𝕴̣|𝕴̉|𝕴̃|𝕺̀|𝕺́|𝕺̣|𝕺̉|𝕺̃|𝕺̂|𝕺̂̀|𝕺̂́|𝕺̂̉|𝕺̣̂|𝕺̛|𝕺̛̀|𝕺̛́|𝕺̛̉|𝕺̛̣|𝖀̀|𝖀́|𝖀̣|𝖀̉|𝖀̃|𝖀̛|𝖀̛̀|𝖀̛́|𝖀̛̉|𝖀̛̣|𝖄̀|𝖄́|𝖄̣|𝖄̉|𝖄̃|Đ';
        const standards = [standard, standard2, standard3]
        for (let i = 0; i < resultIds.length; i++) {
            const inputText = document.getElementById(inputTextId).value;
            document.getElementById(resultIds[i]).textContent = convertStandardText(inputText, standards[i]);
        }
        // const inputText = document.getElementById('inputText').value;
        // document.getElementById('result-01').textContent = convertText(inputText, standard);
        // document.getElementById('result-02').textContent = convertText(inputText, standard2);
        // document.getElementById('result-03').textContent = convertText(inputText, standard3);
    }
</script>