<script>
    function convertUpsideDownTexts(inputTextId, resultIds) {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const standard = 'ɐ|q|ɔ|p|ǝ|ɟ|ƃ|ɥ|ı|ɾ|ʞ|ן|ɯ|u|o|d|b|ɹ|s|ʇ|n|ʌ|ʍ|x|ʎ|z|∀|q|Ͻ|ᗡ|Ǝ|Ⅎ|ƃ|H|I|ſ|ʞ|˥|W|N|O|Ԁ|Ὁ|ᴚ|S|⊥|∩|Λ|M|X|ʎ|Z|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standards = [standard]
        for (let i = 0; i < resultIds.length; i++) {
            const inputText = document.getElementById(inputTextId).value;
            document.getElementById(resultIds[i]).textContent = convertStandardText(inputText, standards[i]);
        }
        // const inputText = document.getElementById('inputText').value;
        // document.getElementById('result-01').textContent = convertText(inputText, standard).split("").reverse().join("");
    }
</script>