{{ define "main" }}
{{partial "output-box.html" .}}
<div class="container">
    <h1 id="page-title">VaporText: Transform Your Text into Trendy Fullwidth Vaporwave Style</h1>
    <p id="page-description">Convert ordinary text into stylish Fullwidth Vaporwave typography with our easy-to-use
        online tool. Add a retro 80s aesthetic to your social media posts and digital content. Perfect for music, art,
        and design projects.</p>
    <div class="vertical-container">
        <div class="output-box">
            <label for="inputText">Enter your text</label>
            <textarea id="inputText" placeholder="Type your text here..." oninput="transformText()" rows="6"></textarea>
            <div class="counts">
                Character Count: <span id="charCount">0</span> |
                Word Count: <span id="wordCount">0</span> |
                Sentence Count: <span id="sentenceCount">0</span> |
                Line Count: <span id="lineCount">0</span>
            </div>
        </div>
        <div class="output-box" id="result">
            <label>Preview</label>
            <div class="result">
                <span readonly class="input-result" id="result-01"></span>
                <span class="copied-message" id="copiedMessage1">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-01" onclick="copyText('result-01', 'copy-result-01')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="result-02"></span>
                <span class="copied-message" id="copiedMessage2">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-02" onclick="copyText('result-02', 'copy-result-02')">Copy
                </button>
            </div>
            <div class="result">
                <span readonly class="input-result" id="result-03"></span>
                <span class="copied-message" id="copiedMessage3">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-03" onclick="copyText('result-03', 'copy-result-03')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="result-04"></span>
                <span class="copied-message" id="copiedMessage4">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-04" onclick="copyText('result-04', 'copy-result-04')">Copy
                </button>
            </div>
        </div>
    </div>
    <div id="page-content">
        <section>
            <h2>Discover the Aesthetic of Fullwidth Vaporwave Text</h2>

            <p>Elevate your digital presence with VaporText, the ultimate online tool for transforming standard text
                into
                eye-catching Fullwidth Vaporwave typography. Our user-friendly platform allows you to infuse your social
                media posts, music promotions, and creative projects with the nostalgic charm of 80s aesthetics.</p>
        </section>

        <section>
            <h2>Why Choose VaporText?</h2>
            <ul>
                <li>Instant conversion of plain text to Fullwidth Vaporwave style</li>
                <li>Perfect for social media, music promotion, and artistic endeavors</li>
                <li>Evoke a sense of nostalgia and retro coolness in your content</li>
                <li>Stand out in the digital landscape with unique, attention-grabbing typography</li>
            </ul>
        </section>

        <section>
            <h2>How It Works:</h2>
            <ol>
                <li>Enter your desired text in the input field</li>
                <li>Choose your preferred Vaporwave style: Fullwidth, Aesthetic, or Glitch</li>
                <li>Click 'Transform' to generate your stylized text</li>
                <li>Copy the result and paste it anywhere – social media, SoundCloud, Bandcamp, or your own designs</li>
            </ol>

        </section>
        <section>
            <h2>Unleash Your Creativity with Vaporwave Typography</h2>
            <p>Whether you're a musician, digital artist, or simply looking to add a touch of retro flair to your online
                presence, VaporText has got you covered. Our tool is perfect for:</p>
            <ul>
                <li>Creating unique social media posts and bios</li>
                <li>Designing eye-catching album covers or playlist artwork</li>
                <li>Crafting vaporwave-inspired logos and branding elements</li>
                <li>Adding a nostalgic touch to your digital art and memes</li>
            </ul>
        </section>

        <section>
            <h2>FAQ:</h2>
            <h3>Q: Is VaporText compatible with all social media platforms?</h3>
            <p>A: Yes, our generated text can be used on most social media platforms, including Facebook, Twitter,
                Instagram, SoundCloud, and Bandcamp.
            </p>

            <h3>Q: Can I use the transformed text for commercial purposes?</h3>
            <p>A: Absolutely! The text generated by VaporText is free to use for both personal and commercial
                projects.
            </p>

            <h3>Q: Will the Fullwidth text affect my SEO or readability?</h3>
            <p>A: While Fullwidth text adds a unique aesthetic, it's best used for headlines, short phrases, or
                artistic elements. For main content, we recommend using standard text to maintain SEO and
                readability.
            </p>
        </section>

        <section>
            <h2>Embrace the Vaporwave Aesthetic</h2>
            <p>Join thousands of satisfied users who have discovered the power of Fullwidth Vaporwave typography. From
                musicians and digital artists to meme creators and aesthetic enthusiasts, VaporText has become the go-to
                tool for adding a touch of retro coolness to digital content.</p>

            <p>Transform your text today and experience the allure of Vaporwave aesthetics. Let your words evoke the
                nostalgia of the 80s and early internet culture – try VaporText now and bring a piece of retro coolness
                to
                your digital world!</p>
        </section>
    </div>
</div>

<script>
    function convertText(inputText, standard) {
        const original = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZàáạảãâầấẩậăằắẳặèéẹẻẽêềếểệìíịỉĩòóọỏõôồốổộơờớởợùúụủũưừứửựỳýỵỷỹđÀÁẠẢÃÂẦẤẨẬĂẰẮẲẶÈÉẸẺẼÊỀẾỂỆÌÍỊỈĨÒÓỌỎÕÔỒỐỔỘƠỜỚỞỢÙÚỤỦŨƯỪỨỬỰỲÝỴỶỸĐ'.split('');
        const standardParts = standard.split('|');
        return inputText.split('').map(char => {
            const idx = original.indexOf(char.toString());
            console.log(idx)
            if (idx === -1) return char;
            return standardParts[idx];
        }).join('')
    }

    function convertTexts() {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const standard = 'ａ|ｂ|ｃ|ｄ|ｅ|ｆ|ｇ|ｈ|ｉ|ｊ|ｋ|ｌ|ｍ|ｎ|ｏ|ｐ|ｑ|ｒ|ｓ|ｔ|ｕ|ｖ|ｗ|ｘ|ｙ|ｚ|Ａ|Ｂ|Ｃ|Ｄ|Ｅ|Ｆ|Ｇ|Ｈ|Ｉ|Ｊ|Ｋ|Ｌ|Ｍ|Ｎ|Ｏ|Ｐ|Ｑ|Ｒ|Ｓ|Ｔ|Ｕ|Ｖ|Ｗ|Ｘ|Ｙ|Ｚ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard2 = 'ａ|ｂ|ｃ|ｄ|ｅ|ｆ|ｇ|ｈ|ｉ|ｊ|ｋ|ｌ|ｍ|ｎ|ｏ|ｐ|ｑ|ｒ|ｓ|ｔ|ｕ|ｖ|ｗ|ｘ|ｙ|ｚ|Λ|Ｂ|Ｃ|Ｄ|Ξ|Ｆ|Ｇ|Ｈ|Ｉ|Ｊ|Ｋ|Ｌ|Ｍ|Ｎ|Ｏ|Ｐ|Ｑ|Ｒ|Ｓ|Ｔ|Ｕ|Ｖ|Ｗ|Ｘ|Ｙ|Ｚ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard3 = 'ａ|ｂ|ｃ|ｄ|ｅ|ｆ|ｇ|ｈ|ｉ|ｊ|ｋ|ｌ|ｍ|ｎ|ｏ|ｐ|ｑ|ｒ|ｓ|ｔ|ｕ|ｖ|ｗ|ｘ|ｙ|ｚ|▲|Ｂ|Ｃ|Ｄ|Ｅ|Ｆ|Ｇ|Ｈ|Ｉ|Ｊ|Ｋ|Ｌ|Ｍ|Ｎ|Ｏ|Ｐ|Ｑ|Ｒ|Ｓ|Ｔ|Ｕ|▼|Ｗ|Ｘ|Ｙ|Ｚ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard4 = 'ａ|ｂ|ｃ|ｄ|ｅ|ｆ|ｇ|ｈ|ｉ|ｊ|ｋ|ｌ|ｍ|ｎ|ｏ|ｐ|ｑ|ｒ|ｓ|ｔ|ｕ|ｖ|ｗ|ｘ|ｙ|ｚ|Ａ|Ｂ|Ｃ|Ｄ|Σ|Ｆ|Ｇ|Ｈ|Ｉ|Ｊ|Ｋ|Ｌ|Ｍ|Ｎ|♢|Ｐ|Ｑ|Ｒ|Ｓ|Ｔ|Ｕ|Ｖ|Ｗ|Ｘ|Ｙ|Ｚ|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const inputText = document.getElementById('inputText').value;
        document.getElementById('result-01').textContent = convertText(inputText, standard);
        document.getElementById('result-02').textContent = convertText(inputText, standard2);
        document.getElementById('result-03').textContent = convertText(inputText, standard3);
        document.getElementById('result-04').textContent = convertText(inputText, standard4);
    }

    function transformText() {
        countWords()
        convertTexts()
    }

    function countWords() {
        const inputText = document.getElementById('inputText').value;

        // Character count
        document.getElementById('charCount').textContent = inputText.length;

        // Word count
        const wordCount = inputText.trim() === '' ? 0 : inputText.trim().split(/\s+/).length;
        document.getElementById('wordCount').textContent = wordCount;

        // Sentence count
        const sentenceCount = inputText.split(/[.!?]+/).filter(Boolean).length;
        document.getElementById('sentenceCount').textContent = sentenceCount;

        // Line count
        const lineCount = inputText.split(/\n/).length;
        document.getElementById('lineCount').textContent = lineCount;
    }

</script>
{{ end }}