{{ define "main" }}
{{partial "output-box.html" .}}
{{partial "sc-convert-standard-text.html" .}}
{{partial "sc-count-word.html" .}}
{{partial "sc-ransom-note-text.html" .}}
<div class="container">
    <h1 id="page-title">Ransom Note Text Generator - Create Unique and Eye-Catching Unicode Text</h1>
    <p id="page-description">Transform your text into unique ransom note styles with our Unicode text generator. Perfect
        for social media and creative projects!</p>
    <div class="vertical-container">
        <div class="output-box">
            <label for="inputText">Enter your text</label>
            <textarea id="inputText" placeholder="Type your text here..." oninput="transformText()" rows="6"></textarea>
            <div class="counts">
                Character Count: <span id="charCount">0</span> |
                Word Count: <span id="wordCount">0</span> |
                Sentence Count: <span id="sentenceCount">0</span> |
                Line Count: <span id="lineCount">0</span>
            </div>
        </div>
        <div class="output-box" id="result">
            <label>Preview</label>
            <div class="result">
                <span readonly class="input-result" id="ransom-note-text-result-01"></span>
                <span class="copied-message" id="copiedMessage1">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-01"
                        onclick="copyText('ransom-note-text-result-01', 'copy-ransom-note-text-result-01')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="ransom-note-text-result-02"></span>
                <span class="copied-message" id="copiedMessage2">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-02"
                        onclick="copyText('ransom-note-text-result-02', 'copy-ransom-note-text-result-02')">Copy
                </button>
            </div>
            <div class="result">
                <span readonly class="input-result" id="ransom-note-text-result-03"></span>
                <span class="copied-message" id="copiedMessage3">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-03"
                        onclick="copyText('ransom-note-text-result-03', 'copy-ransom-note-text-result-03')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="ransom-note-text-result-04"></span>
                <span class="copied-message" id="copiedMessage4">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-04"
                        onclick="copyText('ransom-note-text-result-04', 'copy-ransom-note-text-result-04')">Copy
                </button>
            </div>
            <div class="result">
                <span readonly class="input-result" id="ransom-note-text-result-05"></span>
                <span class="copied-message" id="copiedMessage5">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-05"
                        onclick="copyText('ransom-note-text-result-05', 'copy-ransom-note-text-result-05')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="ransom-note-text-result-06"></span>
                <span class="copied-message" id="copiedMessage6">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-06"
                        onclick="copyText('ransom-note-text-result-06', 'copy-ransom-note-text-result-06')">Copy
                </button>
            </div>
            <div class="result">
                <span readonly class="input-result" id="ransom-note-text-result-07"></span>
                <span class="copied-message" id="copiedMessage7">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-07"
                        onclick="copyText('ransom-note-text-result-07', 'copy-ransom-note-text-result-07')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="ransom-note-text-result-08"></span>
                <span class="copied-message" id="copiedMessage8">Copied ✓</span>
                <button class="button-result copy-button" id="copy-ransom-note-text-result-08"
                        onclick="copyText('ransom-note-text-result-08', 'copy-ransom-note-text-result-08')">Copy
                </button>
            </div>
        </div>
    </div>
    <div id="page-content">
        <section>
            <h1>Unleash Your Creativity with Our Ransom Note Text Generator</h1>

            <p>Elevate your online presence with our innovative ransom note text generator, which utilizes a random mix
                of Unicode characters to create eye-catching text that looks like 𝓵𝔦𝒌𝑒 𝒕𝒉𝗶𝘀. This unique tool blends
                characters from various styles, resulting in visually striking and memorable text that truly stands out
                (unless everyone else is using our fonts too 😉).</p>
        </section>

        <section>
            <h2>Why Choose Our Ransom Note Text Generator?</h2>
            <ul>
                <li>Instantly transform your plain text into a vibrant mix of styles and aesthetics</li>
                <li>Create text that's perfect for social media posts, messages, and more</li>
                <li>Copy-and-paste friendly for platforms like Twitter, Facebook, TikTok, and Discord</li>
                <li>Add a playful touch to your digital communication and artistic projects</li>
            </ul>
        </section>

        <section>
            <h2>How It Works:</h2>
            <ol>
                <li>Enter your desired text into the input field</li>
                <li>Watch as our generator mixes and matches Unicode characters from multiple styles</li>
                <li>Copy the eye-catching text generated by our tool</li>
                <li>Paste it anywhere to make an impact – from social media to personal projects</li>
            </ol>
        </section>

        <section>
            <h2>Explore Endless Possibilities</h2>
            <p>This tool allows you to combine characters from different Unicode blocks, opening up a world of creative
                expression. Whether you’re using cursive, fraktur, strikethrough, or other styles, the resulting text
                can convey artistic flair and originality.</p>
            <ul>
                <li>Fuse distinct aesthetics and meanings from various Unicode styles</li>
                <li>Create unique text that captures attention and evokes emotion</li>
                <li>Add a playful element to your written content, making it unforgettable</li>
                <li>Experiment with typography and explore the boundaries of design</li>
            </ul>
        </section>

        <section>
            <h2>Join the Community of Creative Users</h2>
            <p>Discover the joy of crafting unique text that stands out in any context. Our ransom note text generator
                is perfect for social media enthusiasts, digital artists, or anyone looking to add a fun twist to their
                written communication. Have fun & 𝔢𝖓𝒿𝚘🆈! Let your creativity flow and bring a new dimension to your text
                today!</p>
        </section>

    </div>
</div>

<script>
    function transformText() {
        countWords()
        convertRansomNoteTexts('inputText', ['ransom-note-text-result-01', 'ransom-note-text-result-02', 'ransom-note-text-result-03', 'ransom-note-text-result-04', 'ransom-note-text-result-05', 'ransom-note-text-result-06', 'ransom-note-text-result-07', 'ransom-note-text-result-08'])
    }
</script>
{{ end }}