{{ define "main" }}
{{partial "output-box.html" .}}
<div class="container">
    <h1 id="page-title">Small Caps Text Generator - Stylish Unicode Text for Social Media</h1>
    <p id="page-description">Create stylish small caps text for your social media posts, usernames, and more with our
        easy-to-use Unicode generator!</p>
    <div class="vertical-container">
        <div class="output-box">
            <label for="inputText">Enter your text</label>
            <textarea id="inputText" placeholder="Type your text here..." oninput="transformText()" rows="6"></textarea>
            <div class="counts">
                Character Count: <span id="charCount">0</span> |
                Word Count: <span id="wordCount">0</span> |
                Sentence Count: <span id="sentenceCount">0</span> |
                Line Count: <span id="lineCount">0</span>
            </div>
        </div>
        <div class="output-box" id="result">
            <label>Preview</label>
            <div class="result">
                <span readonly class="input-result" id="result-01"></span>
                <span class="copied-message" id="copiedMessage1">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-01" onclick="copyText('result-01', 'copy-result-01')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="result-02"></span>
                <span class="copied-message" id="copiedMessage2">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-02" onclick="copyText('result-02', 'copy-result-02')">Copy
                </button>
            </div>
        </div>
    </div>
    <div id="page-content">
        <section>
            <h2>Small Caps Text Generator - Add Style to Your Posts</h2>
            <p>Transform your online communication with our Small Caps Text Generator. This tool uses Unicode to create
                text
                that looks like ʟɪᴋᴇ ᴛʜɪs, making your Facebook posts, tweets, and comments stand out with a stylish
                flair.
                Whether you're allergic to lowercase letters or simply want to give your username a more Uɴɪǫᴜᴇ Lᴏᴏᴋ,
                this
                generator is perfect for you!</p>
        </section>

        <section>
            <h2>Why Choose Our Small Caps Text Generator?</h2>
            <ul>
                <li>Create visually appealing text that enhances your social media presence</li>
                <li>Add stylish headers and emphasis to your posts</li>
                <li>Utilize characters from the Latin Extended and Phonetic Extensions blocks for a polished look</li>
                <li>Copy and paste small caps text anywhere on the web with ease</li>
            </ul>
        </section>

        <section>
            <h2>How It Works:</h2>
            <ol>
                <li>Input your desired text into the generator</li>
                <li>Watch as the tool converts it into small caps format</li>
                <li>Copy the generated text</li>
                <li>Paste it wherever you want to add a touch of style – on social media, in messages, or emails</li>
            </ol>
        </section>

        <section>
            <h2>Creative Uses for Small Caps Text</h2>
            <p>The small caps style is not just for aesthetics; it has practical applications too:</p>
            <ul>
                <li>Add elegance and sophistication to headings and titles</li>
                <li>Emphasize specific words or phrases for better readability</li>
                <li>Use in academic settings for citations and references, giving author names a consistent look</li>
                <li>Enhance usernames and captions on social media for a unique touch</li>
            </ul>
        </section>

        <section>
            <h2>FAQ:</h2>
            <h3>Q: Is the small caps text compatible with all platforms?</h3>
            <p>A: Yes, our generated text can be used across various social media platforms, messaging apps, and
                other
                digital communication tools that support Unicode.
            </p>

            <h3>Q: How does this style differ from traditional capital letters?</h3>
            <p>A: Small caps maintain the proportions of capital letters but are reduced in size to match lowercase
                letters, providing a distinct visual contrast.
            </p>

            <h3>Q: Can I use this for professional purposes?</h3>
            <p>A: Absolutely! The small caps style is perfect for professional settings, enhancing the visual
                appeal of
                documents, presentations, and academic work.
            </p>
        </section>

        <section>
            <h2>Enhance Your Digital Communication</h2>
            <p>With our Small Caps Text Generator, you can easily add style and sophistication to your online presence.
                Stand out with eye-catching text that captures attention and elevates your content. Try it now and give
                your
                text the unique flair it deserves!</p>
        </section>

    </div>
</div>

<script>
    function convertText(inputText, standard) {
        const original = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZàáạảãâầấẩậăằắẳặèéẹẻẽêềếểệìíịỉĩòóọỏõôồốổộơờớởợùúụủũưừứửựỳýỵỷỹđÀÁẠẢÃÂẦẤẨẬĂẰẮẲẶÈÉẸẺẼÊỀẾỂỆÌÍỊỈĨÒÓỌỎÕÔỒỐỔỘƠỜỚỞỢÙÚỤỦŨƯỪỨỬỰỲÝỴỶỸĐ'.split('');
        const standardParts = standard.split('|');
        return inputText.split('').map(char => {
            const idx = original.indexOf(char.toString());
            console.log(idx)
            if (idx === -1) return char;
            return standardParts[idx];
        }).join('')
    }

    function convertTexts() {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const standard = 'ᴀ|ʙ|ᴄ|ᴅ|ᴇ|ꜰ|ɢ|ʜ|ɪ|ᴊ|ᴋ|ʟ|ᴍ|ɴ|ᴏ|ᴘ|ǫ|ʀ|s|ᴛ|ᴜ|ᴠ|ᴡ|x|ʏ|ᴢ|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|ᴀ̀|ᴀ́|ᴀ̣|ᴀ̉|ᴀ̃|ᴀ̂|ᴀ̂̀|ᴀ̂́|ᴀ̂̉|ᴀ̣̂|ᴀ̆|ᴀ̆̀|ᴀ̆́|ᴀ̆̉|ᴀ̣̆|ᴇ̀|ᴇ́|ᴇ̣|ᴇ̉|ᴇ̃|ᴇ̂|ᴇ̂̀|ᴇ̂́|ᴇ̂̉|ᴇ̣̂|ɪ̀|ɪ́|ɪ̣|ɪ̉|ɪ̃|ᴏ̀|ᴏ́|ᴏ̣|ᴏ̉|ᴏ̃|ᴏ̂|ᴏ̂̀|ᴏ̂́|ᴏ̂̉|ᴏ̣̂|ᴏ̛|ᴏ̛̀|ᴏ̛́|ᴏ̛̉|ᴏ̛̣|ᴜ̀|ᴜ́|ᴜ̣|ᴜ̉|ᴜ̃|ᴜ̛|ᴜ̛̀|ᴜ̛́|ᴜ̛̉|ᴜ̛̣|ʏ̀|ʏ́|ʏ̣|ʏ̉|ʏ̃|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard2 = 'ᴀ|ʙ|ᴄ|ᴅ|ᴇ|ғ|ɢ|ʜ|ɪ|ᴊ|ᴋ|ʟ|ᴍ|ɴ|ᴏ|ᴘ|ǫ|ʀ|s|ᴛ|ᴜ|ᴠ|ᴡ|x|ʏ|ᴢ|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|ᴀ̀|ᴀ́|ᴀ̣|ᴀ̉|ᴀ̃|ᴀ̂|ᴀ̂̀|ᴀ̂́|ᴀ̂̉|ᴀ̣̂|ᴀ̆|ᴀ̆̀|ᴀ̆́|ᴀ̆̉|ᴀ̣̆|ᴇ̀|ᴇ́|ᴇ̣|ᴇ̉|ᴇ̃|ᴇ̂|ᴇ̂̀|ᴇ̂́|ᴇ̂̉|ᴇ̣̂|ɪ̀|ɪ́|ɪ̣|ɪ̉|ɪ̃|ᴏ̀|ᴏ́|ᴏ̣|ᴏ̉|ᴏ̃|ᴏ̂|ᴏ̂̀|ᴏ̂́|ᴏ̂̉|ᴏ̣̂|ᴏ̛|ᴏ̛̀|ᴏ̛́|ᴏ̛̉|ᴏ̛̣|ᴜ̀|ᴜ́|ᴜ̣|ᴜ̉|ᴜ̃|ᴜ̛|ᴜ̛̀|ᴜ̛́|ᴜ̛̉|ᴜ̛̣|ʏ̀|ʏ́|ʏ̣|ʏ̉|ʏ̃|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const inputText = document.getElementById('inputText').value;
        document.getElementById('result-01').textContent = convertText(inputText, standard);
        document.getElementById('result-02').textContent = convertText(inputText, standard2);
    }

    function transformText() {
        countWords()
        convertTexts()
    }

    function countWords() {
        const inputText = document.getElementById('inputText').value;

        // Character count
        document.getElementById('charCount').textContent = inputText.length;

        // Word count
        const wordCount = inputText.trim() === '' ? 0 : inputText.trim().split(/\s+/).length;
        document.getElementById('wordCount').textContent = wordCount;

        // Sentence count
        const sentenceCount = inputText.split(/[.!?]+/).filter(Boolean).length;
        document.getElementById('sentenceCount').textContent = sentenceCount;

        // Line count
        const lineCount = inputText.split(/\n/).length;
        document.getElementById('lineCount').textContent = lineCount;
    }
</script>
{{ end }}