{{ define "main" }}
{{partial "output-box.html" .}}
<div class="container">
    <h1 id="page-title">Square Text Generator - Create Unique Boxed Text with Unicode</h1>
    <p id="page-description">Generate attention-grabbing square boxed letters for your social media posts with our
        easy-to-use Square Text Generator!</p>
    <div class="vertical-container">
        <div class="output-box">
            <label for="inputText">Enter your text</label>
            <textarea id="inputText" placeholder="Type your text here..." oninput="transformText()" rows="6"></textarea>
            <div class="counts">
                Character Count: <span id="charCount">0</span> |
                Word Count: <span id="wordCount">0</span> |
                Sentence Count: <span id="sentenceCount">0</span> |
                Line Count: <span id="lineCount">0</span>
            </div>
        </div>
        <div class="output-box" id="result">
            <label>Preview</label>
            <div class="result">
                <span readonly class="input-result" id="result-01"></span>
                <span class="copied-message" id="copiedMessage1">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-01" onclick="copyText('result-01', 'copy-result-01')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="result-02"></span>
                <span class="copied-message" id="copiedMessage2">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-02" onclick="copyText('result-02', 'copy-result-02')">Copy
                </button>
            </div>
            <div class="result">
                <span readonly class="input-result" id="result-03"></span>
                <span class="copied-message" id="copiedMessage3">Copied ✓</span>
                <button class="button-result copy-button" id="copy-result-03" onclick="copyText('result-03', 'copy-result-03')">Copy
                </button>
            </div>
        </div>
    </div>
    <div id="page-content">
        <section>
            <h2>Square Text Generator - Create Unique Boxed Text</h2>
            <p>Transform your text into eye-catching square boxed letters with our Square Text Generator. This tool
                utilizes
                the "Enclosed Alphanumeric Supplement" block in Unicode to create squared Latin capital letters, perfect
                for
                posting hangman and Wheel of Fortune-style clues on social media platforms like Twitter and
                Facebook.</p>
        </section>

        <section>
            <h2>Why Choose Our Square Text Generator?</h2>
            <ul>
                <li>Easily generate boxed letters to make your posts stand out</li>
                <li>Add a creative flair to your content with unique text styling</li>
                <li>Utilize characters from the Unicode block for a modern and geometric appearance</li>
                <li>Copy and paste squared letters anywhere on the web for maximum impact</li>
            </ul>
        </section>

        <section>
            <h2>How It Works:</h2>
            <ol>
                <li>Type or paste your desired text into the input field</li>
                <li>Watch as our tool generates square boxed letters in real-time</li>
                <li>Copy the generated squared text</li>
                <li>Paste it into your social media posts, comments, or creative projects</li>
            </ol>
        </section>

        <section>
            <h2>Creative Uses for Square Text</h2>
            <p>The square text generated through our tool offers endless creative possibilities:</p>
            <ul>
                <li>Create attention-grabbing headlines and titles for your posts</li>
                <li>Design captions that captivate your audience</li>
                <li>Incorporate squared letters into artwork and graphic designs</li>
                <li>Add a playful touch to games and quizzes shared online</li>
            </ul>
        </section>

        <section>
            <h2>FAQ:</h2>
            <h3>Q: Is the square text compatible with all platforms?</h3>
            <p>A: Yes, our generated text can be used across various social media platforms, messaging apps, and other
                digital communication tools that support Unicode.
            </p>

            <h3>Q: What makes this text style unique?</h3>
            <p>A: The squared letters offer a modern and geometric aesthetic, adding a distinctive look to your text
                that helps it stand out.
            </p>

            <h3>Q: Can I use this for professional purposes?</h3>
            <p>A: Absolutely! The square text can be used for branding, titles, and headings, enhancing the visual
                appeal of your professional content.
            </p>
        </section>

        <section>
            <h2>Unleash Your Creativity</h2>
            <p>With our Square Text Generator, you can easily incorporate boxed letters into your designs and
                communications. Explore the unique aesthetic of squared text and make a bold statement in your online
                presence. Try it now and discover the creative potential of your words!</p>
        </section>

    </div>
</div>

<script>
    function convertText(inputText, standard) {
        const original = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZàáạảãâầấẩậăằắẳặèéẹẻẽêềếểệìíịỉĩòóọỏõôồốổộơờớởợùúụủũưừứửựỳýỵỷỹđÀÁẠẢÃÂẦẤẨẬĂẰẮẲẶÈÉẸẺẼÊỀẾỂỆÌÍỊỈĨÒÓỌỎÕÔỒỐỔỘƠỜỚỞỢÙÚỤỦŨƯỪỨỬỰỲÝỴỶỸĐ'.split('');
        const standardParts = standard.split('|');
        return inputText.split('').map(char => {
            const idx = original.indexOf(char.toString());
            console.log(idx)
            if (idx === -1) return char;
            return standardParts[idx];
        }).join('')
    }

    function convertTexts() {
        // const original = 'aăâbcdđeêfghijklmnoôơpqrstuưvwxyz';
        const standard = '🄰|🄱|🄲|🄳|🄴|🄵|🄶|🄷|🄸|🄹|🄺|🄻|🄼|🄽|🄾|🄿|🅀|🅁|🅂|🅃|🅄|🅅|🅆|🅇|🅈|🅉|🄰|🄱|🄲|🄳|🄴|🄵|🄶|🄷|🄸|🄹|🄺|🄻|🄼|🄽|🄾|🄿|🅀|🅁|🅂|🅃|🅄|🅅|🅆|🅇|🅈|🅉|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard2 = '🅰|🅱|🅲|🅳|🅴|🅵|🅶|🅷|🅸|🅹|🅺|🅻|🅼|🅽|🅾|🅿|🆀|🆁|🆂|🆃|🆄|🆅|🆆|🆇|🆈|🆉|🅰|🅱|🅲|🅳|🅴|🅵|🅶|🅷|🅸|🅹|🅺|🅻|🅼|🅽|🅾|🅿|🆀|🆁|🆂|🆃|🆄|🆅|🆆|🆇|🆈|🆉|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const standard3 = '🄰|🄱|🄲|🄳|🄴|🄵|🄶|🄷|🄸|🄹|🄺|🄻|🄼|🄽|🄾|🄿|🅀|🅁|🅂|🅃|🅄|🅅|🅆|🅇|🅈|🅉|🄰|🄱|🄲|🄳|🄴|🄵|🄶|🄷|🄸|🄹|🄺|🄻|🄼|🄽|🄾|🄿|🅀|🅁|🅂|🅃|🅄|🅅|🅆|🅇|🅈|🅉|à|á|ạ|ả|ã|â|ầ|ấ|ẩ|ậ|ă|ằ|ắ|ẳ|ặ|è|é|ẹ|ẻ|ẽ|ê|ề|ế|ể|ệ|ì|í|ị|ỉ|ĩ|ò|ó|ọ|ỏ|õ|ô|ồ|ố|ổ|ộ|ơ|ờ|ớ|ở|ợ|ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ử|ự|ỳ|ý|ỵ|ỷ|ỹ|đ|À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ẩ|Ậ|Ă|Ằ|Ắ|Ẳ|Ặ|È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ể|Ệ|Ì|Í|Ị|Ỉ|Ĩ|Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ổ|Ộ|Ơ|Ờ|Ớ|Ở|Ợ|Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ử|Ự|Ỳ|Ý|Ỵ|Ỷ|Ỹ|Đ';
        const inputText = document.getElementById('inputText').value;
        document.getElementById('result-01').textContent = convertText(inputText, standard);
        document.getElementById('result-02').textContent = convertText(inputText, standard2);
        document.getElementById('result-03').textContent = convertText(inputText, standard3);
    }

    function transformText() {
        countWords()
        convertTexts()
    }

    function countWords() {
        const inputText = document.getElementById('inputText').value;

        // Character count
        document.getElementById('charCount').textContent = inputText.length;

        // Word count
        const wordCount = inputText.trim() === '' ? 0 : inputText.trim().split(/\s+/).length;
        document.getElementById('wordCount').textContent = wordCount;

        // Sentence count
        const sentenceCount = inputText.split(/[.!?]+/).filter(Boolean).length;
        document.getElementById('sentenceCount').textContent = sentenceCount;

        // Line count
        const lineCount = inputText.split(/\n/).length;
        document.getElementById('lineCount').textContent = lineCount;
    }

</script>
{{ end }}