{{ define "main" }}
{{partial "output-box.html" .}}
{{partial "sc-convert-standard-text.html" .}}
{{partial "sc-count-word.html" .}}
{{partial "sc-tiny-text.html" .}}
<div class="container">
    <h1 id="page-title">Superscript and Subscript Text Generator - Create Tiny Text for Social Media</h1>
    <p id="page-description">Generate superscript and subscript text effortlessly for your social media posts. Perfect
        for adding a unique touch to your content!</p>
    <div class="vertical-container">
        <div class="output-box">
            <label for="inputText">Enter your text</label>
            <textarea id="inputText" placeholder="Type your text here..." oninput="transformText()" rows="6"></textarea>
            <div class="counts">
                Character Count: <span id="charCount">0</span> |
                Word Count: <span id="wordCount">0</span> |
                Sentence Count: <span id="sentenceCount">0</span> |
                Line Count: <span id="lineCount">0</span>
            </div>
        </div>
        <div class="output-box" id="result">
            <label>Preview</label>
            <div class="result">
                <span readonly class="input-result" id="tiny-text-result-01"></span>
                <span class="copied-message" id="copiedMessage1">Copied ✓</span>
                <button class="button-result copy-button" id="copy-tiny-text-result-01"
                        onclick="copyText('tiny-text-result-01', 'copy-tiny-text-result-01')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="tiny-text-result-02"></span>
                <span class="copied-message" id="copiedMessage2">Copied ✓</span>
                <button class="button-result copy-button" id="copy-tiny-text-result-02"
                        onclick="copyText('tiny-text-result-02', 'copy-tiny-text-result-02')">Copy
                </button>
            </div>
            <div class="result">
                <span readonly class="input-result" id="tiny-text-result-03"></span>
                <span class="copied-message" id="copiedMessage3">Copied ✓</span>
                <button class="button-result copy-button" id="copy-tiny-text-result-03"
                        onclick="copyText('tiny-text-result-03', 'copy-tiny-text-result-03')">Copy
                </button>
            </div>
            <div class="result-even">
                <span readonly class="input-result" id="tiny-text-result-04"></span>
                <span class="copied-message" id="copiedMessage4">Copied ✓</span>
                <button class="button-result copy-button" id="copy-tiny-text-result-04"
                        onclick="copyText('tiny-text-result-04', 'copy-tiny-text-result-04')">Copy
                </button>
            </div>
        </div>
    </div>
    <div id="page-content">
        <section>
            <h2>Superscript and Subscript Text Generator - Create Tiny Text for Social Media</h2>
            <p>Transform your text into unique tiny formats with our Superscript and Subscript Text Generator! Easily
                generate small text that you can paste into Facebook, Twitter, Reddit, YouTube, and more.</p>
        </section>

        <section>
            <h2>Why Use Tiny Text?</h2>
            <ul>
                <li>Add a playful touch to your social media content</li>
                <li>Indicate whispering or high-pitched speaking styles</li>
                <li>Enhance the visual appeal of your posts and captions</li>
            </ul>
        </section>

        <section>
            <h2>How It Works:</h2>
            <ol>
                <li>Type or paste your desired text into the input field</li>
                <li>Select between superscript or subscript styles</li>
                <li>Copy the generated tiny text</li>
                <li>Paste it into your favorite social media platform or messaging app</li>
            </ol>
        </section>

        <section>
            <h2>The Significance of Superscript and Subscript</h2>
            <p>Superscript and subscript text have a rich historical background, originating from the need to represent
                mathematical and scientific notations, footnotes, and linguistic elements:</p>
            <ul>
                <li><strong>Superscript:</strong> Text raised above the baseline, often used for exponents in equations
                    (e.g., "x²").
                </li>
                <li><strong>Subscript:</strong> Text lowered below the baseline, commonly used for indices (e.g.,
                    "H₂O").
                </li>
                <li>Footnotes often employ superscript numbers to reference additional information.</li>
            </ul>
        </section>

        <section>
            <h2>Creative Uses for Tiny Text:</h2>
            <p>In social media posts, you can use superscript and subscript to add a distinctive flair, turning "sun"
                into
                "ˢᵘⁿ" or "moon" into "ₘₒₒₙ." These examples illustrate the versatility of tiny text in both technical
                and
                creative contexts, enhancing communication and visual presentation.</p>
        </section>

        <section>
            <h2>Unlock Visual Creativity with Our Tool</h2>
            <p>With our Superscript and Subscript Text Generators, you can effortlessly add these unique text styles to
                your
                posts, captions, or bios. Explore the endless possibilities of visual creativity and expression
                today!</p>
        </section>
    </div>
</div>

<script>
    function transformText() {
        countWords()
        convertTinyTexts('inputText', ['tiny-text-result-01', 'tiny-text-result-02', 'tiny-text-result-03', 'tiny-text-result-04'])
    }
</script>
{{ end }}